@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;600&family=Aldrich&family=Arya:wght@400;700&family=Carrois+Gothic+SC&family=DotGothic16&display=swap');

/*FONT STUFF*/
h1, h2, h3, h4, h5, h6, p, div, a {
    color: white;
    
}

h1 {font-family: 'Albert Sans', sans-serif;}
h2 {font-family: 'Aldrich', sans-serif;}
h3, p, div, h6 {font-family: 'Arya', sans-serif;}
h4 {font-family: 'Carrois Gothic SC', sans-serif;}
h5 {font-family: 'DotGothic16', sans-serif;}

/*LAYOUT STUFF*/

body{
  background-color: grey;
}

header{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom:10px;
}

main{
  padding: 20px;
}

#readout-container{
  height: 60px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#readout{
  height: 100%;
  width: 80%;
}

#main-game-board{
  display: grid;
  min-width: 300px;
  min-height: 300px;
  width: 25rem;
  height: 25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  margin: 0px auto;
  border: 2px solid green;
  padding: 20px;
}

div.square{
  font-size: 6rem;
  color: red;
  font-family: 'Aldrich', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-flexbox{
  display: flex;
  justify-content:space-around;
  width: 30rem;
  margin: 0px auto;
  padding: 10px;
}

footer{
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: row-reverse;
}




/*Construction layout stuff*/
.l0{
  border: 4px solid white;
}

.l1{
  border: 3px solid red;
}

.l2{
  border: 2px solid orange;
}




/*Goofy cool stuff */
