@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;600&family=Aldrich&family=Arya:wght@400;700&family=Carrois+Gothic+SC&family=DotGothic16&display=swap');

/*FONT STUFF*/
h1, h2, h3, h4, h5, h6, p, div, a {
    color: rgb(34, 255, 0);;
    
}

h1 {
  font-size: 3rem;
  font-family: 'Albert Sans', sans-serif;}
h2 {font-family: 'Aldrich', sans-serif;}
h3{
  margin-top: -20px;
  font-size: 1.5rem;
}
h3, p, div, h6 {font-family: 'Arya', sans-serif;}
h4 {font-family: 'Carrois Gothic SC', sans-serif;}
h5 {font-family: 'DotGothic16', sans-serif;}

/*LAYOUT STUFF*/

body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/78/Dark_Rift_2012.jpg);
  
  background-color: grey;
  background-size: 2000px;
}

header{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom:5px;
  display: flex;
  background-color:rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
}

main{
  padding: 20px;
}

#readout-container{
  height: 140px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#readout{
  height: 100%;
  width: 80%;
/*   background-color: rgba(0, 0, 0, 0.6); */
  max-width: 900px; 
  font-size: 4rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.victory-achieved{
  transform:scale(1.3);
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(195, 255, 174), 0 0 20px rgb(207, 255, 166), 0 0 30px #00e604, 0 0 40px #00e617, 0 0 50px #00e604, 0 0 60px #2ae600, 0 0 70px #2ee600;
  }
  to {
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px #65ff4d, 0 0 40px #4dff59, 0 0 50px #5cff4d, 0 0 60px #71ff4d, 0 0 70px #65ff4d, 0 0 80px #5cff4d;
  }
}

#main-game-board{
  display: grid;
  min-width: 300px;
  min-height: 300px;
  width: 25rem;
  height: 25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  margin: 0px auto;
  
  padding: 20px;
}

div.square{
  font-size: 6rem;
  color: white;
  font-family: 'Aldrich', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

#button-flexbox{
  display: flex;
  justify-content:space-around;
  width: 30rem;
  margin: 0px auto;
  padding: 10px;
}

footer{
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

/* Buttons */
.btn{
    color: #FFF;
  border: 2px solid rgb(109, 216, 2);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.6);;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0dd802;
  transition: ease-out 0.4s;
}

.btn:hover{
  box-shadow: inset 400px 0 0 0 #46d802;
}
.btn:active{
  transform:scale(1.3);
}



/*Construction layout stuff*/
/* .l0{
  border: 4px solid white;
}

.l1{
  border: 3px solid red;
}

.l2{
  border: 2px solid orange;
} */




/*Goofy cool stuff */
